body{
  margin: 0;
}

.fon{
  background-image: url(../img/fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 15px;
}

.text p{
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffff;
  border-radius: 70px;
  padding: 40px 20px;
}

.kart img{
  width: 600px;
  display:block;
  margin:auto;
  padding-top: 100px;
}

.strela{
  width: 100px;
  padding-left: 20px;
}